# passwords and API keys
.env

# data
data/mordor
data/usos
dataset/
*.pdf
*.jpg
*.jpeg
*.png
*.doc
*.docx
*.txt
!requirements.txt
!requirements-dev.txt
dataset/
data/mordor/
data/strony/

# other
*.log
__pycache__/
.DS_Store
Thumbs.db
src/data/mordor/check_progress.py
src/data/usos/.last_request_time
.superpowers/
